h1,h2{
    font-family:"Oswald","sans";
}

body{
    font-family:"Open Sans","sans";
    color: yellow;
    background-color: black;
}

img{
    float:left;
}


li{
    display: inline;
    list-style-type: none;
    margin-left: 50px;
}

